@page
@using Microsoft.Extensions.Localization
@using ProductManagement.Localization
@model ProductManagement.Web.Pages.ProductManagement.IndexModel
@inject IStringLocalizer<ProductManagementResource> L
@{
}
<h1>ProductManagement</h1>
<p>@L["SamplePageMessage"]</p>
